
.tea::after{
    content: " 😋";
}

body{
    counter-reset: i;
}

.tea::before{
    counter-increment: i;
    content: "🍵 " counter(i) ":";
}

lh{
    font-size: 20px;
    background-color: aqua;
}

ol{
    border: 2px solid red;
    display: inline-block;
}